/* Flex položaj features komponente */
.apli1__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: rox;
}

/* Položaj glavnoga headinga */
.apli1__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

/* Oblika h1 pa p v headingi */
.apli1__features-heading h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.apli1__features-heading p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
    margin-top: 2rem;
}

/* Položaj containera z naslovi pa texton */
.apli1__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* CSS za naprave do 990px */
@media screen and (max-width: 990px) {
    .apli1__features {
        flex-direction: column;
    }

    .apli1__features-heading {
        margin: 0 0 2rem 0;
    }
    
}

/* CSS za naprave do 550px */
@media screen and (max-width: 550px) {

    .apli1__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
    
}